<% if @chat_messages.present? %>
  <% @chat_messages.each do |message| %>
    <div class="chat_message", id: "message_<%= message.id.to_s %>">
      <% if message.user.present? %>
        <b><%= link_to message.user.full_name, user_path(message.user) %></b>
        (<%= message.created_at.in_time_zone(+7).try(:strftime, "%H:%M %e/%m")%>):
        <%= message.message.gsub("\n","<br/>").html_safe %>
      <% end %>
    </div>
  <% end %>
<% end %>