<% provide(:title, "Edit task") %>
<h1>Edit task : <%= @task.name%></h1>
<% if((@task.master == current_user) || @farm_leader ) %>
  <%= render "edit_by_master" %>
<% else %>
  <%= render "edit_by_assignee" %>
<% end %>