<% provide(:title, "Index") %>
<h1>All tasks</h1>
<div>
  <%= link_to "Search", "#", class: "search-form-toggle btn", "data-target" => "search-form" %>
  <%= link_to "Back to " + @farm.name, user_farm_path(current_user, @farm) , class: "btn" if @farm.present?%>
</div>
</br>
<div id="search">
  <%= render "search_form" %>
</div>
<div id="tb_index">
  <%= render "tb_task" %>
</div>