@import "bootstrap";
@import 'bootstrap-datetimepicker';
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  # -moz-box-sizing: border-box;
  # -webkit-box-sizing: border-box;
  # box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  width: 100% ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main_color {
  /* background: #2C7AB1 !important; */
  background: #5493BE !important;
  color: rgb(223, 223, 223);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  font-size: 3sem;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar-inner {
  background: #0E5688 !important;
}
#logo {
  float: left;
  margin-left: 30px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

.footer {
height: 40px;
background: #ebebeb;
white-space: nowrap;
line-height: 40px;
padding: 0 10px;
color: #7b7b7b;
margin-bottom: 0px;
}

.right {
  float: right;
  padding-right: 2% ;
}
.left {
  float: left;
  padding-left: 3% ;
}
.right > ul > li {
  display: inline;
  padding-left: 15px;
} 

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  margin-left: auto;
  margin-right: auto;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100% ;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.leftsidebar {
  width: 12% ;
  margin-left: 3% ;
  float: left ;
  height: 100% ;
  # background-color: blue ; # TODO: test
}
.rightsidebar {
  width: 20% ;
  margin-right: 2% ;
  float: right ;
  height: 100% ;
  # background-color: blue ; # TODO: test
}
.content {
  display: block;
  float: left;
  margin-left: 1% ;
  margin-right: 1% ;
  width: 61% ;
  min-height:560px;
  # background-color: #636363 ; # TODO: test
}
.content-empty {
  min-height:560px;
}

.width-table90 {
  width: 90% ;
  margin-left: auto;
  margin-right: auto;

}
.width-table80 {
  width: 80% ;
  margin-left: auto;
  margin-right: auto;
}
.width-table60 {
  width: 60% ;
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.magrin-left-2percent {
  padding-left: 2% ;
}
.magrin-right-3percent {
  padding-right: 3% ;
}

/* Task */
.task {
  padding-left: 3px;
  padding-right: 3px;
  border: 10px 10px 10px 10px;
  # background: #E3E2E0;
  margin-top: 6px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
}
.image_deadline40 {
  background-image: url("deadline_40.png");
  background-repeat: no-repeat;
  background-position: center top; 
}
.image_deadline60 {
  background-image: url("deadline_60.png");
  background-repeat: no-repeat;
  background-position: center top; 
}
.image_deadline120 {
  background-image: url("deadline_120.png");
  background-repeat: no-repeat;
  background-position: center top; 
}
.image_deadline250 {
  background-image: url("deadline_250.png");
  background-repeat: no-repeat;
  background-position: center top; 
}
.image_warning40 {
  background-image: url("warning_40.png");
  background-repeat: no-repeat;
  background-position: right top; 
}
.image_warning60 {
  background-image: url("warning_60.png");
  background-repeat: no-repeat;
  background-position: right top; 
}
.image_warning120 {
  background-image: url("warning_120.png");
  background-repeat: no-repeat;
  background-position: right top; 
}
.task-note {
  padding-left: 3px;
  margin-top: 6px;
  # background: #FFAA00;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
}
.task-delay {
  padding-left: 3px;
  margin-top: 6px;
  # background: #FF0000;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
}
.left-time-note {
  padding-left: 3px;
  # background: #FFAA00;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
}
.left-time-delay {
  padding-left: 3px;
  # background: #FF0000;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
}
.div-select-position{
  width: 150px;
}
.display-inline{
  display: inline;
}
.red-background {
  background: #FF0000;
}
.yellow-background{
  background: #FFAA00;
}

/* form task */
.task_description {
  height: 150px !important;
  padding-bottom: 0px;
}

/* form search */
.td-width-10percent {
  width: 10% ;
  background-color: #E8E8E8;
  text-align: center !important;
}
.td-width-23percent {
  padding-right: 22px !important;
  width: 23% ;
}

/* table header */
.table_header {
  background-color: #E8E8E8;
}

/* comment */
.form_comment {
  width: 60% ;
  margin-left: auto;
  margin-right: auto;
}
.comment_attribute {
  height: 80px;
}
.form_edit_comment {
  width: 80% ;
  margin-left: auto;
  margin-right: auto;
}

/* chat group */
.scroll_view {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
  border-style: solid;
  border-width: 3px;
  border-color: #5493BE;
  border-radius:15px;
  background: #F7F7F7;
  height: 400px;
  overflow-y: scroll;
  word-wrap: break-word;
}
.chat_message {
  margin-left: 10px;
}
.new_chat_message {
  width: 90%; 
  margin-left: auto;
  margin-right: auto;
}
.chat_comment {
  width: 80% ;
}
.send_comment {
  width: 20% ;
}
.div_90 {
  width: 90%; 
  margin-left: auto;
  margin-right: auto;
}
.clear_number {
  width: 30px ;
}
#chat_message_to_user_ids{
  width: 200px;
}
.to_user {
  background: #CEE2F0 ;
}
.div_message:hover
{
  border-top-style:inset;
  border-top-width:1px;
  # border-top-color: #E8E8E8;
  border-bottom-style:inset;
  border-bottom-width:1px;
  # border-bottom-color: #E8E8E8;
  background: #92C0E0 ;
}