<% provide(:title, "Index") %>
<h1>All user</h1>
<% if @users.present? %>
  <table class = "table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.code %></td>
          <td><%= link_to user.full_name, admin_user_path(user) %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>We don't have any users </h3>
<% end %>
<p>Find me in app/views/admin/users/index.html.erb</p>