<% if signed_in? %>
  <div class="well sidebar-nav">
  <!-- Categories -->
    <div class="box categories">
      <div class="box-content">
        <div class="text-align-center"><%= gravatar_for current_user %></div>
        <div class="text-align-center"><b><%= current_user.full_name %></b></div>
        <ul>
          <li>level</li>
          <li>position</a></li>
        </ul>
      </div>
    </div>
    <!-- End Categories -->
  </div>
  <div class="well sidebar-nav">
  <!-- Categories -->
    <div class="box categories">
      <h2>Groups</h2>
      <div class="box-content">
        <ul>
          <li>hahaha</li>
          <li>hehehe</a></li>
          <li>hohoho</li>
          <li>hihihi</li>
          <li>blablabla</li>
        </ul>
      </div>
    </div>
    <!-- End Categories -->
  </div>
<% end %>