<% if signed_in? %>
  <div class="well sidebar-nav">
    <!-- Categories -->
    <div class="box categories">
      <h2>Your current task</h2>
      <div class="box-content">
        <br>task name : </br>
        <br>task short description</br>
      </div>
    </div>
    <!-- End Categories -->
  </div>

  <div class="well sidebar-nav">
    <!-- Categories -->
    <div class="box categories">
      <h2>Important tasks</h2>
      <p>
        <a href="#" class="bul">important task 1</a><br>
        <a href="#" class="bul">important task 2</a> 
      </p>
    </div>
    <!-- End Categories -->
  </div>

  <div class="well sidebar-nav">
    <!-- Categories -->
    <div class="box categories">
      <h2>List tasks <span></span></h2>
      <p>
        <a href="#" class="bul">view all tasks</a><br>
        <a href="#" class="bul">sdfasdf</a> 
      </p>
      <div class="box-content">
        <ul>
          <li>hehehe</a></li>
          <li>hohoho</li>
          <li>hihihi</li>
          <li>blablabla</li>
        </ul>
      </div>
    </div>
    <!-- End Categories -->
  </div>
<% end %>